@font-face {
  font-family: 'Albertson';
  src: local('Albertson'), url('./assets/Albertson.ttf') format('truetype');
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.section {
    justify-content: center;
    background-color: var(--color-sand);
    height: 300px;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Albertson';
    font-weight: normal;
    font-style: normal;
    font-size: 42pt;
}
