@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
    --color-sky: #728fa1;
    --color-sand: #f4ecd9;
    --color-maroon: #7a4d49;
    --color-tan: #e2b398;
    --color-dark-tan: #bf8870;
    --color-brown: #8f6654;
    --color-offblack: #28252d;
    --color-yellow: #eed19e;
}

@font-face {
  font-family: 'Albertson';
  src: local('Albertson'), url('./assets/Albertson.ttf') format('truetype');
}
